.header{

    
    &__logo{
        width: 100%;
        height: 65px;
        justify-content: center;
        align-items: center;
        display: flex;
        
        
        & img{
            width: 8rem;
            height: auto;

            
        }
    }
    &__form--champtext{
        font-family:FontAwesome ,roboto;
    }    
   
}