

    
    .header__logo{
        width: 100%;
        height: 65px;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: white;
        
        
        & img{
            width: 8rem;
            height: auto;

            
        }
    }
    .header__form{
        width: 100%;
        overflow: hidden;
        &--champtext{
            width: 100%;
            font-family:FontAwesome ,roboto;
        } 
    }
     
   
