

    
    .header__logo{
        width: 100%;
        height: 65px;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: white;
        & a{
            &:link{
                color: inherit;
                text-decoration: none;
            }
            &:visited{
                color:inherit;
            }
        }
        & img{
            width: 8rem;
            height: auto;

            
        }
    }
    .header__texte{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family:roboto ;
        color:gray;
        border-image: linear-gradient(180deg, #bebdbd, #eaeaea) 90;
        background-color: #eaeaea;
        border-top: 5px solid;
        & p{
            margin-left: 5px;
            font-size: 1.1rem;
        }    
    }
   
