body{
    font-family: 'Roboto' , sans-serif ;
    margin: 0px;
}

h1{
    font-family: shrikhand;
}

h2 {
    font-family: roboto;
    font-weight: 600;
}

h3 {
    font-style: regular;
    font-weight: 400;
}

