body{
    font-family: 'Roboto' , sans-serif ;
    margin: 0px;
}

h1{
    font-family: shrikhand;
}

h2 {
    font-family: roboto;
    font-weight: 600;
}

h3 {
    font-family: roboto;
    font-weight: 400;
}

p{
    font-family: roboto;
    // font-weight: 300;
}

