.back a{
    &:visited{
        color: inherit;
    }
    &:link{
        color:inherit;
        text-decoration: none;
    }

}



.fa-arrow-left{
    position: absolute;
    font-size: 2rem;
    top: 1.5%;
    left: 3%;
  
}

.containerBanniere{
    position: relative;
    height: auto; 


    
}
.banniereR{
    @include img-ratio;
    @media (min-width:665px) {
        padding-top:36.25% ;
    }
  
      
}  



.containerMenu{
    background-color:lighten($colour-gris,5%) ;
    border-top-left-radius:50px ;
    border-top-right-radius:50px;
    padding-bottom: 50px;
    position: relative;
    top: -78px;
    margin-bottom: -78px;
    & h2{
        padding-top: 30px;
        padding-left: 5%;
        color: black;
        font-family: shrikhand;
        font-size: 1.5rem;
        margin: 0;
    }
}

.menu--block{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;

}

.entre{
    display: flex;
    flex-direction: column;
    @media (max-width:340px) {
        width: 100%;
    }
    & h3{
        padding-left: 1rem;
        margin-bottom: 5px;
    }
  
    &__block{
        width: 100%;
        display: flex;
        flex-flow: column nowrap ;
        justify-content: space-evenly;
        align-items: center;
        @media (max-width:340px) {
            flex-flow: row wrap;
        }  
    }
    &__btn{
        @include btn-gris-menu;
        @include effetBtn;
        @include effetCheck;
        @include text-menu;
        & input {
            display: none;
        }
        & input:checked ~ .entre__btn--iconCheck {
            left: 81%;
            
        }
        & input:checked ~ .entre__btn--iconCheck >i {
            transform: rotate(360deg);
        }
   
            
    }

    &__btn1{
        height: 60px;
        opacity: 0;
        transform-origin: 50% 0%;
        animation-name: menuApparition;
        animation-duration: 500ms;
        animation-delay: 0s;
        animation-fill-mode: forwards;


     
    }
  
    &__btn2{
        height: 60px;
        opacity: 0;
        transform-origin: 50% 0%;
        animation-name: menuApparition;
        animation-duration: 500ms;
        animation-delay: 200ms;
        animation-fill-mode: forwards;
        
 
 
    }
    &__btn3{
        height: 60px;
        opacity: 0;
        transform-origin: 50% 0%;
        animation-name: menuApparition;
        animation-duration: 600ms;
        animation-delay: 400ms;
        animation-fill-mode: forwards;
    }
}
 @keyframes menuApparition{
     0%{
         height: 0px;
         opacity: 0;
     }
     100%{
         height: 60px;
         opacity: 1;
     }
 }


.plats{
    display: flex;
    flex-direction: column;
    @media (max-width:340px) {
        width: 100%;
    }
    & h3{
        padding-left: 1rem;
        margin-bottom: 5px;
    }
  
    &__block{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        @media (max-width:340px) {
            flex-flow: row wrap;
        }  
    }
    &__btn{
        @include btn-gris-menu;
        @include effetBtn;
        @include effetCheck;
        @include text-menu;
        & input {
            display: none;
        }
        & input:checked ~ .plats__btn--iconCheck {
            left: 81%;
            
        }
        & input:checked ~ .plats__btn--iconCheck >i {
            transform: rotate(360deg);
        }
    
      
    
    
    }
    &__btn1{
        height: 60px;
        opacity: 0;
        transform-origin: 50% 0%;
        animation-name: menuApparition;
        animation-duration: 500ms;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    }
    &__btn2{
        height: 60px;
        opacity: 0;
        transform-origin: 50% 0%;
        animation-name: menuApparition;
        animation-duration: 500ms;
        animation-delay: 200ms;
        animation-fill-mode: forwards;

    }
    &__btn3{
        height: 60px;
        opacity: 0;
        transform-origin: 50% 0%;
        animation-name: menuApparition;
        animation-duration: 600ms;
        animation-delay: 400ms;
        animation-fill-mode: forwards;
    }
}


.desserts{
    display: flex;
    flex-direction: column;
    @media (max-width:340px) {
        width: 100%;
    }
    & h3{
        padding-left: 1rem;
        margin-bottom: 5px;
    }
  
    &__block{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;  
        align-items: center;
        @media (max-width:340px) {
            flex-flow: row wrap;
        }  
    }
    &__btn{
        @include btn-gris-menu;
        @include effetBtn;
        @include effetCheck;
        @include text-menu;
        & input {
            display: none;
        }
        & input:checked ~ .desserts__btn--iconCheck {
            left: 81%;
            
        }
        & input:checked ~ .desserts__btn--iconCheck >i {
            transform: rotate(360deg);
        }
    
    }
    &__btn1{
        height: 60px;
        opacity: 0;
        transform-origin: 50% 0%;
        animation-name: menuApparition;
        animation-duration: 500ms;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    }
    &__btn2{
        height: 60px;
        opacity: 0;
        transform-origin: 50% 0%;
        animation-name: menuApparition;
        animation-duration: 500ms;
        animation-delay: 200ms;
        animation-fill-mode: forwards;

    }
    &__btn3{
        height: 60px;
        opacity: 0;
        transform-origin: 50% 0%;
        animation-name: menuApparition;
        animation-duration: 600ms;
        animation-delay: 400ms;
        animation-fill-mode: forwards;
    }
}

.resto--prev--heartR{
    top: -32px;
    left: 80%;
    
}

.commander{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    padding-top: 20px;
    
    &__btn{
        @include btn-pink;
        
    }
}

.lines{
    width: 50px;
    height: 3px;
    background-color: $colour-tertiaire;
    margin-left: 1rem;
    margin-bottom: 10px;
}

