@mixin btn-pink {
    width:14rem;
    height: 50px;
    display: flex;
    position: relative;
    z-index: 1;
    color: $colour-white;
    background-image: linear-gradient(350deg, ($colour-primary, $colour-secondary)65%);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 3PX 3PX 5px darken($colour-gris,20%);
    &:visited{
        color: $colour-white;
    }
    &:link{
        color: $colour-white;
        text-decoration: none;
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        background-image: linear-gradient(350deg, (((lighten($colour-primary,8%)), (lighten($colour-secondary,8%))) 65%));
        box-shadow: 3PX 3PX 10px darken($colour-gris,40%);
        opacity: 0;
        z-index: -1;
        border-radius: 20px;
        transition: opacity 250ms;
    }
    &:hover{
        &::after{
            opacity: 1;
        }
        
    }

}

@mixin btn-gris {
    width:300px;
    height: 70px;
    display: flex;
    color:black;
    background-color: $colour-gris;
    border-radius: 20px;
    position: relative;
    // justify-content: center; 
    align-items: center;
    z-index: 1;
    box-shadow: 3PX 3PX 5px darken($colour-gris,20%);
    &:link{
        color: inherit;
        text-decoration: none;
    }
    &:visited{
        color:inherit;
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color:(lighten($colour-primary,35%)) ;
        box-shadow: 3PX 3PX 10px darken($colour-gris,40%);
        opacity: 0;
        z-index: -1;
        border-radius: 20px;
        transition: opacity 250ms;
    }
  
    &:hover{
        &::after{
            opacity: 1;
        }
       
    }
 
}

@mixin img-resto {
        width: 335px;
        height: 250px;
        border-radius: 20px;
        display: block;
        overflow: hidden;
        position: relative;
        
        
        margin-bottom: 20px;

        &__image{
            width: 100%;
            position: absolute;
            top: -43px;
            right: 0px;
            z-index: 1;
            & img{
                width: 335px;
            }
        }
    
}

@mixin text-resto {
    width: 250px;
            height: 77px;
            position: relative;
            // background-color: white;
            border-bottom-left-radius:20px ;
            border-bottom-right-radius:20px ;
            top: 153px;
            padding-left: 20px;
            z-index: 1;
            
            & h2{
                margin-bottom: 0px;
                padding-top: 12px;
            }

            & p{
                margin-top: 2px;
                font-size: $font-size-secondary;
                font-weight: 300;
            }
    
}

@mixin textnew {
            position: relative;
            width:80px ;
            height: 30px;
            text-align: center;
            border-radius: 4px;
            color: darken($colour-tertiaire,50%);
            font-size: $font-size-secondary;
            background-color: $colour-tertiaire;
            left:70%;
            z-index: 5;
            & p{
                padding-top: 3px;
                margin-bottom: 0px;
            }
}

@mixin suppliens {
    &:link{
        color: inherit;
        text-decoration: none;
    }
    &:visited{
        color:inherit;
    }

    


}
@mixin btn-gris-menu {
    width:300px;
    height: 60px;
    display: flex;
    color:black;
    background-color: $colour-gris;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    // justify-content: center; 
    align-items: center;
    z-index: 1;
    box-shadow: 3PX 3PX 5px darken($colour-gris,20%);
    
    
    &:link{
        color: inherit;
        text-decoration: none;
    }
    &:visited{
        color:inherit;
    }
   
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color:(lighten($colour-primary,35%)) ;
        box-shadow: 3PX 3PX 10px darken($colour-gris,50%);
        opacity: 0;
        z-index: -1;
        border-radius: 20px;
        transition: opacity 250ms;
    }
  
    &:hover{
        &::before{
            opacity: 1;
        }
       
    }
 
}

@mixin effetBtn {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: $marginleft;
    
    
    & h3 {
        margin: 0px;
    }
    & p {
        margin: 0px;
    }
    &--text{
        
        padding: 0px;
        width: 81%;
        transition: 500ms;
       
        
        & h3{
            font-weight: 500;
            font-size: 1rem;
            white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
        & p{
            
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-top: 5px;

        }
    }
    &--prix{
    
        position: absolute;
        width: 25px;
        height: 25px;
        left: 85%;
        top: 54%;
        transition: 500ms;

        
    }
    //   animation move left block prix et text
    & input:checked ~ &--prix {
   
        left: 68%;   
    }
    & input:checked ~ &--text{
        
            width: 61%;
        
    }
}



@mixin effetCheck {
    &--iconCheck{
        display: flex;
        position: absolute;
        top: 0%;
        left: 106%;
        color: $colour-white;
        font-size: 1.6rem;
        transition:500ms;
        background-color: $colour-tertiaire;
        align-items: center;
        justify-content: center;
        width:20% ;
        height: 75px;
    }
    .fa-check-circle{
        
        transition: 500ms;
       
    }
}

@mixin text-menu {
    &--titre{
        font-weight: 600;
        font-size: 1rem;
    }
    &--sousTitre{
        font-size: 0.8rem;
    }
}

@mixin img-ratio {
    width: 100%;
    display: block;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    & img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -60%);
    }
}