$colour-primary: #9356DC;
$colour-secondary:#FF79DA;
$colour-tertiaire:#99E2D0;
$colour-gris:#eaeaea;
$colour-white:white;

$font-size-primary: 1.5rem;
$font-size-secondary:1.1rem;

$marginleft: 1.5rem;